---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import { Image } from 'astro:assets';
import danImage from '../images/dan.png';
import reactImage from '../images/react.jpg';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there", "Ciao"]} />
  <br />
  <Image src={danImage} alt="what is happening" />
  <Image src={reactImage} alt="react" />
</BaseLayout>
